/* Пример общих стилей */
body.first_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    background-color: #E6E2DD;
    /*background-image: url(photo.png)*/
}

body.other_page {
    display: flex;
    flex-direction: column; /* Размещаем элементы по вертикали */
    justify-content: flex-start; /* Выравнивание по началу контейнера (сверху) */
    align-items: center; /* Центрируем по горизонтали */
    height: 100vh;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    /*background-color: #E6E2DD;*/
    background-image: url(/static/photo.png)
}
.container {
    text-align: center;
}
h1, p {
    margin-bottom: 20px;
}

body_table {
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
}

/* Центрирование заголовков */
h3, h6 {
    text-align: center;
}

.btn-block {
    display: inline-block;
    margin: 10px;
    width: 200px;
    padding: 20px;
    text-align: center;
    background-color: #373A36;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;  /* Сглаживание углов */
    border: none;  /* Убираем обводку */
    outline: none;  /* Убираем обводку при фокусе */
}

.btn-block:hover {
    color: black;
    background-color: #D48166;
}

/* Таблица: добавление отступа сверху */
.table {
    margin-top: 30px;
}

/* Стили для кнопок */
.btn-custom-search {
    background-color: #6BB77B; /* Синий */
    color: white;
    border-radius: 5px;  /* Сглаживание углов */
    border: none;  /* Убираем обводку */
    outline: none;  /* Убираем обводку при фокусе */
}

.btn-custom-clear {
    background-color: #D48166; /* Красный */
    color: white;
    border-radius: 5px;  /* Сглаживание углов */
    border: none;  /* Убираем обводку */
    outline: none;  /* Убираем обводку при фокусе */
}

.btn-custom-search:hover {
    background-color: #373A36;
    color: white;
}

.btn-custom-clear:hover {
    background-color: #373A36;
    color: white;
}

/* Стили для кнопки назад */
.back-button {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 15px;
    font-size: 16px;
    color: white;
    background-color: #D48166;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #373A36; /* Темно-синий при наведении */
}
