/* Тело на главной странице */
body.first_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    background-image: url(photo.png);
    background-size: cover;
}

/* Тело на остальных страницах */
body.other_page {
    display: flex;
    flex-direction: column; /* Размещаем элементы по вертикали */
    justify-content: flex-start; /* Выравнивание по началу контейнера (сверху) */
    align-items: center; /* Центрируем по горизонтали */
    height: 100vh;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    background-color: #E6E2DD
}

/* Контейнер на главной странице */
.container {
    height: 350px; /* Высота контейнера */
    width: 900px;
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Выравнивание элементов по горизонтали */
    align-items: center; /* Выравнивание элементов по вертикали */
    text-align: center; /* Выравнивание текста внутри каждого элемента */
    /*background-color: #E6E2DD; /* Цвет фона */
    background-color: rgba(230, 226, 221, 0.7); /* Полупрозрачный фон */
    flex-direction: column; /* Располагаем элементы в колонку */
    border-radius: 20px; /* Скругляем углы контейнера */
    backdrop-filter: blur(10px); /* Размываем фон */
}

.table_container{
    /*height: 350px;  Высота контейнера */
    width: 1200px;
    display: flex; /* Включаем Flexbox */
    justify-content: center; /* Выравнивание элементов по горизонтали */
    align-items: center; /* Выравнивание элементов по вертикали */
    text-align: center; /* Выравнивание текста внутри каждого элемента */
    /*background-color: #E6E2DD; /* Цвет фона */
    background-color: rgba(230, 226, 221, 0.7); /* Полупрозрачный фон */
    flex-direction: column; /* Располагаем элементы в колонку */
    border-radius: 20px; /* Скругляем углы контейнера */
    backdrop-filter: blur(10px); /* Размываем фон */
}

/* Заголовк и текст */
h1, p {
    margin-bottom: 20px;
}

/* Центрирование заголовков */
h3, h6 {
    text-align: center;
}

/* Текст над таблицами */
.body_table {
    justify-content: center;
    align-items: center;
    height: 120px;
    text-align: center;
    margin: 0;
}

/* Кнопки на главной странице */
.btn-block {
    display: inline-block;
    margin: 10px;
    width: 200px;
    padding: 20px;
    text-align: center;
    background-color: #373A36;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;  /* Сглаживание углов */
    border: none;  /* Убираем обводку */
    outline: none;  /* Убираем обводку при фокусе */
}

/* Кнопки на главной странице при наведении */
.btn-block:hover {
    color: white;
    background-color: #D48166;
}

/* Таблица: добавление отступа сверху */
.table {
    margin-top: 30px;
    width: 1500px;
}

/* Кнопка Поиск */
.btn-custom-search {
    background-color: #6BB77B; /* Синий */
    color: white;
    border-radius: 5px;  /* Сглаживание углов */
    border: none;  /* Убираем обводку */
    outline: none;  /* Убираем обводку при фокусе */
}

/* Очистить */
.btn-custom-clear {
    background-color: #D48166; /* Красный */
    color: white;
    border-radius: 5px;  /* Сглаживание углов */
    border: none;  /* Убираем обводку */
    outline: none;  /* Убираем обводку при фокусе */
}

/* Кнопка Поиск при наведении */
.btn-custom-search:hover {
    background-color: #373A36;
    color: white;
}

/* Кнопка очистить при наведении */
.btn-custom-clear:hover {
    background-color: #373A36;
    color: white;
}

/* Стили для кнопки назад */
.back-button {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 15px;
    font-size: 16px;
    color: white;
    background-color: #D48166;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Стили для кнопки назад при наведении*/
.back-button:hover {
    background-color: #373A36; /* Темно-синий при наведении */
}
